body{
  background-color: black;
  font-family: arial,sans-serif;
  margin: 0;
  color: white;
}

img{
  max-width: 100%;
}

.logo{
  display: block;
  margin: auto;
  max-width: 360px;
}

.navigation{
  text-align: center;
}

.navigation a{
  display: inline-block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.navigation a:hover{
  background-color: darkgray;
  color: black;
}

.navigation a.active{
  background-color: darkslategray;
}

.content{
  max-width: 960px;
  margin: auto;
}

.story-content{
  line-height: 2;
}

.spoiler-alert{
  background-color: yellow;
  color: black;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.plot-summary{
  line-height: 2;
}

.trailer{
  margin: 2rem 0;
}

.trailer-caption{
  text-align: center;
}

.poster-title{
  text-align: center;
}

.poster-container{
  text-align: center;
  margin: 2rem 0;
}

.cast-container{
  margin: 2rem 0;
}

.cast-caption{
  letter-spacing: 0.2rem;
}

.footer{
  margin-top: 3rem;
}

.footer-logo{
  display: block;
  max-width: 60px;
  margin: auto;
}

.copyright{
  text-align: center;
  font-size: 0.8rem;
}

.byline{
  text-align: center;
  font-size: 0.5rem;
  color: #e6e6e6;
}